<style type="text/css">
  .navbar { display: flex; width: 100%; justify-content: flex-end;
  background-color: #969696; align-items: center; padding-rigth: px;
  padding-right: 10px; margin-bottom: 10px; } .icono-grande { margin-right:
  15px; font-size: 35px; color: rgb(51, 51, 51); }
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div style="display: block; width:100vw; max-width: 100%;">
  <div class="navbar">
    <div>
      <a id="btnAdmin" href="/products/"><i
          class="fa-solid fa-backward icono-grande"
        ></i></a>

    </div>
  </div>
  <br />
  <div
    style="max-width: 600px; margin:auto; border-radius: 5px"
    class="border border-primary-subtle rounded p-3"
  >
    <form
      id="addProduct"
    >
      <h2>Agregar Producto</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Nombre del producto"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descipcion</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Descripcion del producto"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input
          type="text"
          class="form-control"
          id="price"
          placeholder="Precio del producto"
        />
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Imagen</label>
        <input
          type="text"
          class="form-control"
          id="thumbnail"
          placeholder="Imagen del producto"
        />
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input
          type="text"
          class="form-control"
          id="stock"
          placeholder="Stock del producto"
        />
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Codigo</label>
        <input
          type="text"
          class="form-control"
          id="code"
          placeholder="Codigo del producto"
        />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input
          type="text"
          class="form-control"
          id="category"
          placeholder="Categoria del producto"
        />
      </div>
    </form>
    <button
      id="createBtn"
      class="btn btn-primary"
      onclick="addProduct()"
    >Agregar Producto</button>
  </div>

  <hr />
  <div align="center">
    {{#if paginateInfo.hasPrevPage}}
      <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
      <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
      <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}
  </div>
  <hr />
  <div style="max-width: 100%; overflow-x: auto;">
    <table class="table table-dark table-striped" id="realProduct">
      <thead>
        <tr>
          <th class="col-1">ID</th>
          <th class="col-1">Nombre</th>
          <th class="col-4">Descripcion</th>
          <th class="col-1">Precio</th>
          <th class="col-1">Stock</th>
          <th class="col-1">Codigo</th>
          <th class="col-1">Categoria</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
      </thead>

      <tbody id="getproducts">
        {{#each products}}
          <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.code}}</td>
            <td>{{this.category}}</td>
            <td><button
                onclick="deleteProduct('{{this._id}}')"
                class="btn btn-danger"
              >Eliminar</button></td>
            <td><button class="btn btn-Primary"><a
                  style="color: white; text-decoration: none"
                  href="/products/modify/{{this._id}}"
                >Modificar</a></button></td>
          </tr>
        {{/each}}
      </tbody>

    </table>

  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>